
body {
    padding-top: 5px;
}

/* Set some basic padding to keep content from hitting the edges */
.container {
    padding-left: 15px;
    padding-right: 15px;
}

.left-nav {
    width: 200px;
    float: left;
}

.main-content {
    margin-left: 210px;
}

.note-date {
    font-size: 0.8em;
    font-style: italic;
}

div.note-path {
    width: 100%;
    text-align: right;
    font-size: 0.85em;
    font-style: italic;
}

.clear {
    clear: both;
}
